/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;500;600&family=Roboto:wght@300;400;500;700&display=swap');


* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}



body {
    font-size: 62.5%;
    width:100%;
    font-family: "Lato", "Roboto", "Monserrat", sans-serif;
    
}


.small {
    font-size: 1.5rem;
}

.non_bold {
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

.black_link, .black_link:active   {
    color: black;

}



.mobile_only {
    visibility: hidden;
}


.page_title {
    font-size: 2rem;
    padding: 10px;
}



.is-hidden { display: none; }




@media only screen and (max-width: 420px)  {
    .mobile_only {
        visibility: visible;

    }

    .mobile_hidden {
        display: none;
    }

    .small {
        font-size: 1.2rem;
    }

    .display_mobile {
        font-size: 2rem !important;
    }

}
