{% block header %}

<header class="d-flex p-2 bd-highlight">
    <section id="logo" class="p-2 flex-fill bd-highlight"><h1>Budgetty</h1></section>
    <section class="p-2 flex-fill bd-highlight">
        <p>New entry</p>
    </section class="p-2 flex-fill bd-highlight">
    <section class="p-2 flex-fill bd-highlight">
        <p>Entry log</p>
    </section>
    <section class="p-2 flex-fill bd-highlight">
        <p>Summary</p>
    </section>

</header>

{% endblock %}


{% block footer %}


{% endblock %}