{% extends "parent.html" %}

<!-- the title -->
{% block title %}
    <title>Summary</title>
{% endblock %}

<!-- the main content -->
{% block content %}

<div class="container-md justify-content-md-center">
    <h2 class="display-2 display_mobile">Summary for {{month}}-{{year}}</h2>
    <div class="row justify-content-md-center">
      <div class="col justify-content-md-left display-6">
        Income
      </div>
      <div class="col justify-content-md-right text-success display-6">
        {{income}}
      </div>
      
    </div>

    <div class="row justify-content-md-center">
        <div class="col justify-content-md-left display-6">
          Expenses
        </div>
        <div class="col justify-content-md-right text-danger display-6">
          {{expense}}
        </div>
        
      </div>

      <div class="row justify-content-md-center">
        <div class="col justify-content-md-left display-6">
          Balance
        </div>
        <div class="col justify-content-md-right display-6">
          {{balance}}
        </div>
        
      </div>
      <div class="month_change_container ">
        <div class="previous_month_button_container ">
            {% if month == 1 %}
                <a role="button" href="/entries/summary/{{year|add:'-1'}}/12">
                    <button class="change_month_button"> << {{year|add:"-1"}} / 12</button>
                </a>
                
            {% else %}
                <a  role="button"  href="/entries/summary/{{year}}/{{month|add:'-1'}}">
                    <button class="change_month_button"> << {{year}} / {{month|add:"-1"}} </button>
                </a>
            {% endif %}

        </div>

        <div class="next_month_button_container ">
            {% if month == 12 %}
                <a role="button"  href="/entries/summary/{{year|add:'+1'}}/1">
                    <button class="change_month_button"> {{year|add:'1'}} / 1 >></button>
                </a>
            
            {% else %}
                <a  role="button"  href="/entries/summary/{{year}}/{{month|add:+1}}">
                    <button class="change_month_button"> {{year}} / {{month|add:"1"}} >> </button>
                </a>
            {% endif %}
        </div>

    </div>

  </div>

  

{% endblock %}