{% extends "parent.html" %}
{% load static %}

{% block title %}
	<title>Register</title>
	<link rel="stylesheet" href="{% static 'styles/user_auth.css' %}">
{% endblock %}

{% block content %}

<!--Register--> 
<div class="container py-5 auth_container">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}                    
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>

{% endblock %}